<table class="table separation-top">
  <thead class="table-header text-left">
    <tr>
      <th>tracking_number</th>
      <th>carrier</th>
      <th>File length</th>
      <th>File width</th>
      <th>File height</th>
      <th>File weight</th>
      <th>File distance_unit</th>
      <th>File mass_unit</th>
      <th>API length</th>
      <th>API width</th>
      <th>API height</th>
      <th>API weight</th>
      <th>API distance_unit</th>
      <th>API mass_unit</th>
      <th>API volumetric weight</th>
      <th>API Weight in kilos</th>
      <th>FILE Weight in kilos</th>
      <th>FILE volumetric weight</th>

      <th>Max Weight TXT</th>
      <th>Max Weight FILE</th>
      <th>Max Weight API</th>
      <th>Max weight file value</th>
      <th>Max weight api value</th>
      <th>Has over weight</th>
      <th>Amount of overweight</th>


    </tr>
  </thead>
  <tbody>
    <% @data.each do |label| %>
      <tr>
        <td><%= label.tracking_number %></td>
        <td><%= label.carrier %></td>
        <td><%= label.file_length %></td>
        <td><%= label.file_width %></td>
        <td><%= label.file_height %></td>
        <td><%= label.file_weight %></td>
        <td><%= label.file_distance_unit %></td>
        <td><%= label.file_mass_unit %></td>
        <td><%= label.api_length %></td>
        <td><%= label.api_width %></td>
        <td><%= label.api_height %></td>
        <td><%= label.api_weight %></td>
        <td><%= label.api_distance_unit %></td>
        <td><%= label.api_weight_unit %></td>
        <td><%= label.api_volumetric_weight %></td>
        <td><%= label.api_weight_in_kg %></td>
        <td><%= label.file_weight_in_kg %></td>
        <td><%= label.file_volumetric_weight %></td>
        <td><%= label.max_weight_txt %></td>
        <td><%= label.max_weight_file %></td>
        <td><%= label.max_weight_api %></td>
        <td><%= label.max_weight_file_value %></td>
        <td><%= label.max_weight_api_value %></td>
        <td><%= label.has_over_weight? %></td>
        <td><%= label.amount_of_over_weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
